<template>
  <v-container>
    <v-layout column justify-center align-center style="height: calc(100vh - 24px);">
      <img src="../assets/undraw_chef.svg" alt="Ilustração Chefe">
      <p class="title mt-6 mb-12 mb-md-0">Pedido feito com sucesso!</p>
      <v-row
        no-gutters
        justify="space-between"
        align="center"
        class="text-center feedback__content"
      >
        <v-col md="6" sm="12" order-md="1">
          <v-btn to="/novo-pedido" width="300" large color="primary" rounded>Fazer novo pedido</v-btn>
        </v-col>
        <v-col md="6" sm="12" class="mt-4 mt-md-0" order-md="0">
          <v-btn to="/pedidos" outlined width="300" large rounded>Voltar para lista de pedidos</v-btn>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "feedback-done"
};
</script>

<style scoped lang="scss">
.feedback {
  &__content {
    max-height: 100px;
    max-width: 680px;
    width: 100%;
  }
}
</style>
