<template>
  <v-container class="pt-md-12 px-md-8">
    <header-order :type="1" :title="`Pedidos de ${clientName}`">
      <template #button>
        <v-btn color="primary" text @click="$router.push('/pedidos')">
          <v-icon style="margin-left: -2.8rem;" color="primary" large>mdi-chevron-left</v-icon>
        </v-btn>
      </template>
    </header-order>

    <template v-for="(item, i) in info">
      <div class="mt-8" :key="i">
        <p class="font-weight-bold">13/05/2019</p>
        <v-card>
          <v-list two-line>
            <v-list-item>
              <v-list-item-avatar>
                <v-img :src="item.avatar" :alt="item.name"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="font-weight-medium" v-text="item.name"></v-list-item-title>
                <v-list-item-subtitle v-text="item.order"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </div>
    </template>
  </v-container>
</template>

<script>
import HeaderOrder from "@/components/HeaderOrder";
export default {
  name: "info-order",
  components: {
    HeaderOrder
  },
  data: () => ({
    info: [],
    clientName: ""
  }),
  mounted() {
    const { client } = this.$route.params;
    this.info.push(client);
    this.clientName = client.name;
  }
};
</script>

<style>
</style>
