<template>
  <v-container class="px-0">
    <v-layout
      class="text-center"
      column
      justify-center
      align-center
      style="height: calc(100vh - 6rem);"
    >
      <v-col sm="5">
        <img src="@/assets/appetit-logo.svg" alt="Appetit logo">
        <h1 class="login__title mt-2 mt-md-8 headline">Seja bem-vindo</h1>
        <p
          class="login__subtitle mt-2"
        >Nós sabemos a importância de estar sempre de barriga cheia e o quanto isso pode ajudar no seu dia.</p>

        <v-form>
          <v-text-field v-model="email" type="email" outlined label="Email"></v-text-field>
          <v-text-field v-model="password" type="password" outlined label="Senha"></v-text-field>

          <v-btn block text>Recuperar minha senha</v-btn>

          <v-btn
            class="mt-6 login__action"
            x-large
            rounded
            color="primary"
            :disabled="!isCompletedFields"
            @click="$router.push('/pedidos')"
          >Entrar</v-btn>
        </v-form>
      </v-col>
    </v-layout>
    <p class="login__footer mt-7 mt-md-5">Infoway Gestão em Saúde © {{ currentYear }}.</p>
  </v-container>
</template>

<script>
export default {
  name: "login",
  data: () => ({
    currentYear: new Date().getFullYear(),
    email: "",
    password: ""
  }),
  computed: {
    isCompletedFields(){
      return (this.email.length >= 3) && (this.password.length >= 3);
    }
  }
};
</script>

<style scoped lang="scss">
$self: ".login";

#{ $self } {
  &__title {
    font-weight: normal;
  }

  &__subtitle {
    max-width: 432px;
    width: 100%;
    color: var(--text-color-secondary);
  }

  &__footer {
    color: var(--text-color-secondary);
    text-align: center;
  }

  &__action {
    max-width: 328px;
    width: 100%;
  }
}
</style>

