<template>
  <v-layout fill-height>
    <v-col md="6" class="hidden-sm-and-down pt-md-12 px-md-8">
      <header-order :type="1" title="Novo pedido">
        <template #button>
          <v-btn color="primary" text @click="returnAtHome">
            <v-icon style="margin-left: -2.8rem;" color="primary" large>mdi-chevron-left</v-icon>
          </v-btn>
        </template>
      </header-order>

      <template v-if="!quantityProduct">
        <v-layout column align-center justify-center style="height: calc(100vh - 120px);">
          <img src="../assets/undraw_chef.svg" alt="Ilustração Chef">
          <p class="mt-6 resume__description">Acompanhe aqui um resumo desta venda.</p>
        </v-layout>
      </template>
      <template v-else>
        <div class="mt-6">
          <p class="resume__title mb-0">Produtos</p>
        </div>
        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <v-img :src="currentProduct.avatar"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title
                class="font-weight-medium"
              >{{ currentProduct.quantity }}x {{ currentProduct.title }}</v-list-item-title>
            </v-list-item-content>

            <v-list-item-icon class="resume__description">{{ currentProduct.price | formatMoney }}</v-list-item-icon>
          </v-list-item>
        </v-list>
        <v-container class="py-0">
          <p class="resume__observations resume__description">{{ currentProduct.observations }}</p>
        </v-container>
        <v-divider class="custom-separator"></v-divider>

        <transition name="fade">
          <template v-if="hasClient">
            <div class="resume__clients my-6">
              <div class>
                <p class="resume__title mb-0">Clientes</p>
              </div>
              <v-list two-line>
                <div v-for="(client, index) in currentClient" :key="client.id">
                  <v-divider v-show="index != 0"></v-divider>
                  <v-list-item>
                    <v-list-item-avatar>
                      <v-img :src="client.avatar" :alt="client.title"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title class="font-weight-medium">{{ client.title }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </div>
              </v-list>
            </div>
          </template>
        </transition>
        <v-divider class="custom-separator"></v-divider>
        <v-row class="mt-5" no-gutters>
          <p class="resume__total-title">Total</p>
          <v-spacer></v-spacer>
          <p class="resume__total-price">{{ resumeTotalPrice | formatMoney }}</p>
        </v-row>
      </template>
    </v-col>
    <v-col md="6" class="pt-md-12 px-md-8" style="background-color: #FAFAFA;">
      <transition name="fade">
        <keep-alive>
          <component :is="componentActive" @change="changeComponent"></component>
        </keep-alive>
      </transition>
    </v-col>
  </v-layout>
</template>

<script>
import SelectProducts from "@/components/SelectProducts.vue";
import SelectPerson from "@/components/SelectPerson.vue";
import OrderDetails from "@/components/OrderDetails.vue";
import PaymentStatus from "@/components/PaymentStatus.vue";

import HeaderOrder from "@/components/HeaderOrder.vue";

import { mapGetters, mapMutations } from "vuex";
export default {
  components: {
    SelectProducts,
    OrderDetails,
    SelectPerson,
    PaymentStatus,
    HeaderOrder
  },
  data: () => ({
    componentActive: "SelectProducts"
  }),
  computed: {
    ...mapGetters({
      quantityProduct: "order/quantityProduct",
      currentProduct: "order/currentProduct",
      hasClient: "order/hasClient",
      currentClient: "order/currentClient"
    }),
    resumeTotalPrice() {
      return this.currentProduct.price * this.currentProduct.quantity;
    }
  },
  methods: {
    ...mapMutations({
      RESET_STATE: "order/RESET_STATE"
    }),
    changeComponent(component) {
      this.componentActive = component;
    },
    returnAtHome() {
      this.RESET_STATE();
      this.$emit("change", "SelectProducts");
      this.$router.push("/pedidos");
    }
  }
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.resume {
  &__title,
  &__total-title,
  &__total-price {
    font-size: 1.25rem;
  }

  &__total-price {
    color: var(--text-color-secondary);
  }

  &__description {
    color: var(--text-color-secondary);
  }

  &__observations {
    word-wrap: break-word;
  }

  &__clients {
    overflow-y: auto;
    max-height: 40vh;
  }
}
</style>

<style lang="scss">
.custom-separator.theme--light.v-divider {
  border-width: 2px;
}
</style>



