<template>
  <v-container class="pt-md-12 px-md-8">
    <div>
      <p style="position: relative;" class="headline underline-title">Olá, Vanusa!</p>
    </div>

    <v-card class="mt-8">
      <v-btn color="primary" @click="$router.push('/novo-pedido')" text x-large block>
        <v-icon color="primary" class="mr-4">mdi-plus</v-icon>
        <span class="orders__action">Fazer novo pedido</span>
        <v-spacer></v-spacer>
      </v-btn>
    </v-card>

    <v-text-field
      class="mt-6"
      v-model="search"
      hide-details
      prepend-inner-icon="mdi-magnify"
      append-outer-icon="mdi-filter-variant"
      label="Procure o produto aqui..."
    ></v-text-field>

    <template v-for="(item, i) in filteredOrders">
      <div class="mt-8" :key="i">
        <p>
          <strong>{{ item.date }}</strong>,
          <span class="orders__description">&emsp;Você vendeu&emsp;</span>
          <strong>{{ item.total | formatMoney }}</strong>
        </p>
        <v-card>
          <v-list two-line>
            <v-list-item-group>
              <v-list-item
                color="primary"
                @click.stop="sendInfoOrder(client)"
                v-for="(client, i) in item.clients"
                :key="i"
              >
                <v-list-item-avatar>
                  <v-img :src="client.avatar" :alt="client.title"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="font-weight-medium" v-text="client.name"></v-list-item-title>
                  <v-list-item-subtitle v-text="client.order"></v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action class="font-weight-medium">{{ client.price | formatMoney }}</v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
      </div>
    </template>
  </v-container>
</template>

<script>
export default {
  name: "pedidos",
  data: () => ({
    search: "",
    ordersList: [
      {
        date: "13/05/2019",
        total: 45.8,
        clients: [
          {
            id: 0,
            name: "Marcel Baptista",
            order: "cuscuz com calabresa, suco de laranja.",
            price: 3.5,
            avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg"
          },
          {
            id: 1,
            name: "Fernanda Siqueira",
            order: "iorgurte desnatado com maçã.",
            price: 7.9,
            avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg"
          },
          {
            id: 2,
            name: "Luiz Oliveira",
            order: "2x bolo frito, café c/ leite.",
            price: 4.45,
            avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg"
          }
        ]
      },
      {
        date: "09/05/2019",
        total: 123.5,
        clients: [
          {
            id: 3,
            name: "Ana Virlania",
            order: "2x sanduíche de pão de arroz, vitamina de goiaba.",
            price: 5.0,
            avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg"
          },
          {
            id: 0,
            name: "Marcel Baptista",
            order: "cuscuz com calabrasa, suco de maracujá",
            price: 3.5,
            avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg"
          }
        ]
      }
    ]
  }),
  computed: {
    filteredOrders() {
      return this.ordersList
        .filter(date => {
          let foundItems = {
            index: date.clients.findIndex(store =>
              this.compareStrings(store.name, this.search)
            )
          };
          return foundItems.index >= 0 && foundItems;
        })
        .map(filteredItem => ({
          ...filteredItem,
          clients: filteredItem.clients.filter(item =>
            this.compareStrings(item.name, this.search)
          )
        }));
    }
  },
  methods: {
    sendInfoOrder(data) {
      this.$router.push({
        name: "pedidos-id",
        params: { id: data.id, client: data }
      });
    },
    compareStrings(primarySring, secondaryString) {
      return primarySring.toLowerCase().includes(secondaryString.toLowerCase());
    }
  }
};
</script>

<style scoped lang="scss">
.orders {
  &__action {
    color: var(--text-color-secondary);
    font-size: 14px;
  }

  &__description {
    color: var(--text-color-secondary);
  }
}
</style>
