<template>
  <transition name="fade">
    <v-card :color="color" class="elevation-6 confirmation">
      <v-row no-gutters class="px-4 py-2">
        <v-layout align-center>
          <slot/>
        </v-layout>
      </v-row>
    </v-card>
  </transition>
</template>

<script>
export default {
  name: "footer-confirmation",
  props: {
    color: {
      type: String,
      default: "#fafafa"
    }
  }
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.confirmation {
  margin-top: 1rem;
  position: sticky;
  bottom: 0.5rem;
}
</style>
