<template>
  <header>
    <slot name="button"></slot>
    <p class="header__title underline-title headline">{{ title }}</p>
    <template v-if="!type">
      <p class="mt-4 header__description">Preencha as informações abaixo para concluir esta venda.</p>
    </template>
  </header>
</template>

<script>
export default {
  name: "header-order",
  props: {
    type: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: "Informações para o pedido"
    }
  }
};
</script>

<style scoped lang="scss">
.header {
  &__title {
    position: relative;
  }

  &__description {
    color: var(--text-color-secondary);
  }
}
</style>
