<template>
  <div
    class="minusmax"
    :class="{
      'minusmax--small': small,
			'minusmax--medium': medium,
			'minusmax--large': large,
		}"
  >
    <button
      aria-label="decrementar"
      :disabled="disableMinus"
      @click="decrementNumber"
      class="minusmax__action minusmax__action--minus"
      :class="{'minusmax__action--rounded': roundedButtons}"
    ></button>

    <transition name="showUp">
      <span
        :style="{'--transitionSpeed': `${transitionSpeed}ms`}"
        v-show="showNumber"
        class="minusmax__number"
        aria-label="quantidade"
      >{{ localNumber }}</span>
    </transition>

    <button
      aria-label="incrementar"
      :disabled="disableMax"
      @click="incrementNumber"
      class="minusmax__action minusmax__action--max"
      :class="{'minusmax__action--rounded': roundedButtons}"
    ></button>
  </div>
</template>

<script>
export default {
  name: "MinusMaxNumber",
  data: () => ({
    localNumber: 0,
    showNumber: true
  }),
  computed: {
    disableMinus() {
      if (!this.disabledButtons) return false;
      return this.isMinValue();
    },
    disableMax() {
      if (!this.disabledButtons) return false;
      return this.isMaxValue();
    }
  },
  methods: {
    incrementNumber() {
      if (this.isMaxValue()) {
        this.setNumberValue(this.max);
        return;
      }
      const value = this.localNumber + this.steps;
      this.setNumberValue(value);
    },
    decrementNumber() {
      if (this.isMinValue()) {
        this.setNumberValue(this.min);
        return;
      }
      const value = this.localNumber - this.steps;
      this.setNumberValue(value);
    },
    isMaxValue() {
      return this.localNumber >= this.max;
    },
    isMinValue() {
      return this.localNumber <= this.min;
    },
    setNumberValue(value) {
      this.applyTransition();
      this.localNumber = value;
    },
    applyTransition() {
      this.showNumber = false;
      setTimeout(() => (this.showNumber = true), this.transitionSpeed);
    },
    validateProps() {
      if (this.min >= this.max) {
        console.error("[ERROR] the prop 'min' is larger or equal 'max'");
      }
    }
  },
  watch: {
    localNumber(newValue) {
      if (newValue > this.max) this.setNumberValue(this.max);
      if (newValue < this.min) this.setNumberValue(this.min);
      this.$emit("input", this.localNumber);
    },
    $props: {
      immediate: true,
      handler() {
        this.validateProps();
      }
    }
  },
  mounted() {
    this.setNumberValue(this.min);
  },
  destroyed() {
    this.$off("input");
  },
  props: {
    min: {
      type: Number,
      required: true
    },
    max: {
      type: Number,
      required: true
    },
    steps: {
      type: Number,
      default: 1
    },
    disabledButtons: {
      type: Boolean,
      default: true
    },
    roundedButtons: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    medium: {
      type: Boolean,
      default: false
    },
    large: {
      type: Boolean,
      default: false
    },
    transitionSpeed: {
      type: Number,
      default: 120
    }
  }
};
</script>

<style lang="scss" scoped>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showUp-enter-active,
.showUp-leave-active {
  transition: transform var(--transitionSpeed) ease-in-out;
}

.showUp-enter,
.showUp-leave-to {
  transform: translateY(4px);
}

.minusmax {
  user-select: none;
  display: flex;
  align-items: center;
  font-size: 1rem;

  &--small {
    font-size: 0.8rem;
  }

  &--medium {
    font-size: 1.25rem;
  }

  &--large {
    font-size: 1.5rem;
  }

  &__number {
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #313131;
    min-width: 1.5em;
  }

  &__action {
    all: unset;
    font-family: inherit;
    font-size: 1.5em;
    background-color: transparent;
    color: #ff8822;
    cursor: pointer;
    border-radius: 0.2em;
    transition: opacity 0.4s ease-out;
    padding: 1.2em 0.5em;

    &--rounded {
      border-radius: 2em;
    }

    &:disabled {
      background-image: unset;
      background-color: transparent;
      color: #f1f1f1;
      cursor: initial;
    }

    &:hover:not(:disabled) {
      opacity: 0.8;
    }

    @media (max-width: 600px) {
      font-size: 1em;
    }
  }

  &__action--minus {
    display: flex;
    align-content: center;

    &::before {
      content: "";
      width: 1rem;
      height: 0.15rem;
      background-color: #ff8822;
    }
  }

  &__action--max {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 1rem;
      height: 0.15rem;
      background-color: #ff8822;
    }

    &::after {
      position: absolute;
      transform: rotate(90deg);
    }
  }

  @media (max-width: 360px) {
    &__action--minus,
    &__action--max {
      &::before,
      &::after {
        width: 0.6rem;
        height: 0.1rem;
      }
    }
  }

  & > * + * {
    margin-left: 1vw;
  }
}
</style>