<template>
  <div>
    <header-order :type="1" title="Detalhes do pedido">
      <template #button>
        <v-btn color="primary" text @click="$emit('change', 'SelectProducts')">
          <v-icon style="margin-left: -2.8rem;" color="primary" large>mdi-chevron-left</v-icon>
        </v-btn>
      </template>
    </header-order>

    <p
      class="order__description"
    >Aproveite para adicionar alguma observação para este pedido, caso queira.</p>
    <v-list style="background-color: #fafafa;">
      <v-list-item>
        <v-list-item-avatar>
          <v-img :src="product.avatar" :alt="product.title"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-text="product.title"></v-list-item-title>
          <v-list-item-title class="order__price">{{ product.price | formatMoney }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <p class="mt-4 mb-2 font-weight-bold">Opções</p>
    <p class="order__description">Escolha dentre as opções de massas abaixo.</p>

    <div>
      <v-card>
        <v-list>
          <v-list-item-group v-model="choosePasta">
            <template v-for="(item, i) in pastas">
              <v-divider v-if="!item" :key="`divider-${i}`"></v-divider>

              <v-list-item :key="`item-${i}`" :value="item" active-class="primary--text">
                <template v-slot:default="{ active, toggle }">
                  <v-list-item-action>
                    <v-checkbox
                      :input-value="active"
                      :true-value="item"
                      color="primary"
                      @click="toggle"
                    ></v-checkbox>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.name"></v-list-item-title>
                  </v-list-item-content>
                </template>
              </v-list-item>
            </template>
          </v-list-item-group>
        </v-list>
      </v-card>
    </div>

    <v-divider class="mt-8 mb-6"></v-divider>

    <div>
      <p class="font-weight-bold">Observações</p>
      <v-textarea v-model="observations" outlined name="input-7-4" label="Observações"></v-textarea>
    </div>

    <FooterConfirmation v-show="choosePasta != undefined">
      <minus-max-number v-model="quantityItem" :min="1" :max="10" small/>
      <v-spacer></v-spacer>
      <v-btn large @click="confirmAction" color="primary">
        <span class="order__btn-text">Adicionar</span>
        {{ totalOrder | formatMoney }}
      </v-btn>
    </FooterConfirmation>
  </div>
</template>

<script>
import HeaderOrder from "@/components/HeaderOrder.vue";
import MinusMaxNumber from "./MinusMaxNumber.vue";
import FooterConfirmation from "./FooterConfirmation.vue";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "order-details",
  components: {
    FooterConfirmation,
    MinusMaxNumber,
    HeaderOrder
  },
  data: () => ({
    choosePasta: undefined,
    quantityItem: 1,
    observations: "",
    pastas: [
      {
        id: 0,
        name: "Milho"
      },
      {
        id: 1,
        name: "Arroz"
      }
    ]
  }),
  computed: {
    ...mapGetters({
      product: "order/currentProduct"
    }),
    totalOrder() {
      return this.product.price * this.quantityItem;
    }
  },
  methods: {
    ...mapMutations({
      SET_ORDER_PRODUCT: "order/SET_ORDER_PRODUCT"
    }),
    confirmAction() {
      this.SET_ORDER_PRODUCT({
        ...this.product,
        quantity: this.quantityItem,
        observations: this.observations
      });
      this.$emit("change", "SelectPerson");
    }
  }
};
</script>

<style scoped lang="scss">
.order {
  &__description {
    color: var(--text-color-secondary);
  }

  &__price {
    color: var(--text-color-secondary);
    font-size: 14px;
  }

  &__btn-text {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      height: 0.8rem;
      width: 0.1rem;
      display: inline-block;
      margin-left: 0.8rem;
      margin-right: 0.8rem;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
</style>
