<template>
  <div>
    <header-order title="Informações para o pedido">
      <template #button>
        <v-btn color="primary" text @click="$emit('change', 'SelectPerson')">
          <v-icon style="margin-left: -2.8rem;" color="primary" large>mdi-chevron-left</v-icon>
        </v-btn>
      </template>
    </header-order>

    <div>
      <p class="mb-2 payment__description">Passo 3 de 3</p>
      <v-progress-linear value="100" height="12" rounded background-color="rgba(0, 0, 0, 0.08)"></v-progress-linear>
    </div>

    <p class="mt-6 font-weight-bold">Qual o status de pagamento?</p>

    <div>
      <v-card>
        <v-list>
          <v-list-item-group v-model="isPayd">
            <v-list-item active-class="primary--text">
              <template v-slot:default="{ active, toggle }">
                <v-list-item-action>
                  <v-checkbox
                    :input-value="active"
                    :true-value="false"
                    color="primary"
                    @click="toggle"
                  ></v-checkbox>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>Não está pago</v-list-item-title>
                </v-list-item-content>
              </template>
            </v-list-item>

            <v-list-item active-class="primary--text">
              <template v-slot:default="{ active, toggle }">
                <v-list-item-action>
                  <v-checkbox
                    :input-value="active"
                    :true-value="true"
                    color="primary"
                    @click="toggle"
                  ></v-checkbox>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>Já está pago</v-list-item-title>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </div>

    <v-expand-transition>
      <div v-show="isPayd">
        <p class="font-weight-bold mt-6">Em qual data foi realizado?</p>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="date"
          transition="slide-y-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="date"
              label="Data do pedido"
              append-icon="mdi-calendar"
              :close-on-content-click="false"
              readonly
              v-on="on"
              outlined
            ></v-text-field>
          </template>
          <v-date-picker color="primary" v-model="date">
            <v-spacer></v-spacer>
            <v-btn text color="#ababab" @click="menu = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.menu.save(date)">Escolher</v-btn>
          </v-date-picker>
        </v-menu>
      </div>
    </v-expand-transition>

    <v-row no-gutters :class="{'mt-6': !isPayd}">
      <v-spacer></v-spacer>
      <v-btn
        @click="confirmAction"
        :disabled="isPayd == undefined"
        color="primary"
        rounded
        width="200"
        large
      >Finalizar</v-btn>
    </v-row>
  </div>
</template>

<script>
import HeaderOrder from "./HeaderOrder";
import { mapMutations } from "vuex";
export default {
  name: "payment-status",
  components: {
    HeaderOrder
  },
  data: () => ({
    isPayd: undefined,
    menu: false,
    date: ""
  }),
  methods: {
    ...mapMutations({
      RESET_STATE: "order/RESET_STATE"
    }),
    confirmAction() {
      this.RESET_STATE();
      this.$router.push("/pedido-concluido");
    }
  }
};
</script>

<style scoped lang="scss">
.payment {
  &__description {
    color: var(--text-color-secondary);
  }
}
</style>
