<template>
  <div>
    <header-order title="Informações para o pedido">
      <template #button>
        <v-btn color="primary" text @click="$emit('change', 'SelectProducts')">
          <v-icon style="margin-left: -2.8rem;" color="primary" large>mdi-chevron-left</v-icon>
        </v-btn>
      </template>
    </header-order>

    <div>
      <p class="mb-2 select__description">Passo 2 de 3</p>
      <v-progress-linear value="66" height="12" rounded background-color="rgba(0, 0, 0, 0.08)"></v-progress-linear>
    </div>

    <p class="mt-6 font-weight-bold">Para quem você está vendendo?</p>

    <v-text-field
      v-model="search"
      hide-details
      prepend-inner-icon="mdi-magnify"
      label="Procure o produto aqui..."
    ></v-text-field>

    <div class="select__list">
      <v-list style="background-color: #fafafa">
        <v-list-item-group v-model="selectedPeoples" color="primary" multiple>
          <v-list-item v-for="person in filteredPerson" :key="person.id">
            <v-list-item-avatar>
              <v-img :src="person.avatar" :alt="person.title"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="person.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </div>

    <FooterConfirmation color="primary" v-show="selectedPeoples.length >= 1">
      <span class="white--text">{{ selectedPeoples.length | pluralize }}</span>
      <v-spacer></v-spacer>
      <v-btn @click="confirmAction" large class="white--text" color="primary" depressed>
        Avançar
        <v-icon color="white">mdi-chevron-right</v-icon>
      </v-btn>
    </FooterConfirmation>
  </div>
</template>

<script>
import HeaderOrder from "./HeaderOrder";
import FooterConfirmation from "./FooterConfirmation";
import { mapMutations } from "vuex";
export default {
  name: "select-person",
  components: {
    FooterConfirmation,
    HeaderOrder
  },
  filters: {
    pluralize(value) {
      const isPlural = value >= 2 && "clientes selecionados";
      const phrase = isPlural ? isPlural : "cliente selecionado";
      return `${value} ${phrase}`;
    }
  },
  data: () => ({
    selectedPeoples: [],
    search: "",
    personList: [
      {
        id: 0,
        title: "Justine Marshall",
        avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg"
      },
      {
        id: 1,
        title: "Bairam Frootan",
        avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg"
      },
      {
        id: 2,
        title: "Tua Manuera",
        avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg"
      },
      {
        id: 3,
        title: "Herman Bavink",
        avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg"
      },
      {
        id: 4,
        title: "Abraham Kuyper",
        avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg"
      },
      {
        id: 5,
        title: "Herman Dooyeweerd",
        avatar: "https://randomuser.me/api/portraits/thumb/men/76.jpg"
      },
      {
        id: 6,
        title: "Francis Schaeffer",
        avatar: "https://randomuser.me/api/portraits/thumb/men/75.jpg"
      }
    ]
  }),
  computed: {
    filteredPerson() {
      return this.personList.filter(person =>
        person.title.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  },
  methods: {
    ...mapMutations({
      SET_ORDER_CLIENT: "order/SET_ORDER_CLIENT"
    }),
    getClient(id) {
      return this.personList.find(client => client.id == id);
    },
    transformListClient(listClient) {
      return listClient.map(client => this.getClient(client));
    },
    confirmAction() {
      const arrayInfoClients = this.transformListClient(this.selectedPeoples);
      this.SET_ORDER_CLIENT(arrayInfoClients);
      this.$emit("change", "PaymentStatus");
    }
  }
};
</script>

<style lang="scss" scoped>
.select {
  &__description {
    color: var(--text-color-secondary);
  }

  &__list {
    @media screen and (min-width: 600px) {
      overflow-y: auto;
      min-height: 50vh;
      height: 50vh;
    }
  }
}
</style>

<style lang="scss">
.select__list {
  .v-list-item--active .v-image__image::before {
    font-family: "Material Design Icons";
    content: "\F05E1";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--v-primary-base);
    font-size: 1.5rem;
  }
}
</style>

