<template>
  <div>
    <header-order title="Informações para o pedido">
      <template #button>
        <v-btn color="primary" text @click="returnAtHome">
          <v-icon style="margin-left: -2.8rem;" color="primary" large>mdi-chevron-left</v-icon>
        </v-btn>
      </template>
    </header-order>

    <div>
      <p class="mb-2 select__description">Passo 1 de 3</p>
      <v-progress-linear value="33" height="12" rounded background-color="rgba(0, 0, 0, 0.08)"></v-progress-linear>
    </div>

    <p class="mt-6 font-weight-bold">O que você está vendendo?</p>

    <v-text-field
      v-model="search"
      hide-details
      prepend-inner-icon="mdi-magnify"
      label="Procure o produto aqui..."
    ></v-text-field>

    <div class="select__list">
      <v-list style="background-color: #fafafa;">
        <v-list-item-group v-model="chooseProduct">
          <div v-for="(item, i) in filteredProducts" :key="i">
            <v-subheader class="font-weight-bold">{{ item.type }}</v-subheader>
            <v-list-item
              color="primary"
              @click="setProduct(product)"
              v-for="(product, i) in item.products"
              :key="i"
            >
              <v-list-item-avatar>
                <v-img :src="product.avatar" :alt="product.title"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="font-weight-medium" v-text="product.title"></v-list-item-title>
              </v-list-item-content>
              <v-list-item-action class="select__price">{{ product.price | formatMoney }}</v-list-item-action>
            </v-list-item>
          </div>
        </v-list-item-group>
      </v-list>
    </div>

    <FooterConfirmation color="primary" v-show="chooseProduct !== undefined">
      <span class="white--text">Total: {{ currentProduct.price | formatMoney }}</span>
      <v-spacer></v-spacer>
      <v-btn @click="confirmAction" large class="white--text" text>
        Avançar
        <v-icon color="white">mdi-chevron-right</v-icon>
      </v-btn>
    </FooterConfirmation>
  </div>
</template>

<script>
import HeaderOrder from "./HeaderOrder.vue";
import FooterConfirmation from "./FooterConfirmation.vue";
import { mapMutations } from "vuex";
export default {
  name: "select-products",
  components: {
    FooterConfirmation,
    HeaderOrder
  },
  data: () => ({
    chooseProduct: undefined,
    search: "",
    currentProduct: {},
    productList: [
      {
        type: "Cuscuz",
        products: [
          {
            title: "Cuscuz simples",
            avatar: "https://i.imgur.com/GkmksoD.png",
            price: 2.25
          },
          {
            title: "Cuscuz completo",
            avatar: "https://i.imgur.com/jsfphz7.png",
            price: 3.25
          }
        ]
      },
      {
        type: "Pães",
        products: [
          {
            title: "Pão caseiro",
            avatar: "https://i.imgur.com/GHYvPOt.png",
            price: 1.25
          },
          {
            title: "Pão caseiro completo",
            avatar: "https://i.imgur.com/hau5nV6.png",
            price: 4.25
          }
        ]
      }
    ]
  }),
  computed: {
    filteredProducts() {
      return this.productList
        .filter(productType => {
          let foundItems = {
            index: productType.products.findIndex(product =>
              this.compareStrings(product.title, this.search)
            )
          };
          return foundItems.index >= 0 && foundItems;
        })
        .map(filteredItem => ({
          ...filteredItem,
          products: filteredItem.products.filter(item =>
            this.compareStrings(item.title, this.search)
          )
        }));
    }
  },
  methods: {
    ...mapMutations({
      SET_ORDER_PRODUCT: "order/SET_ORDER_PRODUCT",
      RESET_STATE: "order/RESET_STATE"
    }),
    setProduct(product) {
      this.currentProduct = product;
    },
    confirmAction() {
      this.SET_ORDER_PRODUCT(this.currentProduct);
      this.$emit("change", "OrderDetails");
    },
    returnAtHome() {
      this.RESET_STATE();
      this.$emit("change", "SelectProducts");
      this.$router.push("/pedidos");
    },
    compareStrings(primarySring, secondaryString) {
      return primarySring.toLowerCase().includes(secondaryString.toLowerCase());
    }
  }
};
</script>

<style lang="scss" scoped>
.select {
  &__description {
    color: var(--text-color-secondary);
  }

  &__price {
    font-size: 14px;
    color: var(--text-color-secondary);
  }

  &__list {
    @media screen and (min-width: 600px) {
      overflow-y: auto;
      min-height: 50vh;
      height: 50vh;
    }
  }
}
</style>

<style lang="scss">
.select__list {
  .v-list-item--active .v-image__image::before {
    font-family: "Material Design Icons";
    content: "\F05E1";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--v-primary-base);
    font-size: 1.5rem;
  }
}
</style>

