<template>
  <v-app>
    <v-navigation-drawer
      class="navigation-component"
      width="300"
      v-if="!isLoginPage"
      color="primary"
      app
      hide-overlay
    >
      <v-row class="py-12" justify="center" no-gutters>
        <img
          role="button"
          @click="$router.push('/pedidos')"
          src="./assets/appetit-logo-white.svg"
          alt="Appetit logo branco"
        >
      </v-row>

      <v-list>
        <v-list-group
          v-for="item in items"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
          class="font-weight-medium"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item link v-for="subItem in item.items" :key="subItem.title">
            <v-list-item-content>
              <v-list-item-title v-text="subItem.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="white">mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="font-weight-medium">CLIENTES</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <p
        class="navigation-component__copy mt-7 mt-md-5"
      >Infoway Gestão em Saúde © {{ currentYear }}.</p>
    </v-navigation-drawer>

    <v-content>
      <div v-if="!isLoginPage" class="user__profile pt-3 px-4 px-md-8">
        <v-avatar size="36">
          <img src="https://randomuser.me/api/portraits/thumb/women/77.jpg" alt="Vanusa">
        </v-avatar>
      </div>
      <transition name="fade">
        <router-view></router-view>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data() {
    return {
      items: [
        {
          action: "mdi-format-list-bulleted",
          title: "PEDIDOS",
          active: true,
          items: [{ title: "EM ABERTOS" }, { title: "ENCERRADOS" }]
        }
      ]
    };
  },
  computed: {
    isLoginPage() {
      return this.$route.path === "/";
    },
    currentYear() {
      return new Date().getFullYear();
    }
  }
};
</script>

<style lang="scss">
:root {
  --text-color-secondary: rgba(0, 0, 0, 0.56);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.underline-title::after {
  position: absolute;
  content: "";
  width: 14rem;
  height: 2px;
  background-color: var(--v-primary-base);
  left: 0;
  bottom: -0.3rem;
}

.navigation-component {
  .v-list-item--active {
    background: #fff !important;

    .v-list-item__title {
      color: var(--v-primary-base) !important;
    }

    .v-icon {
      color: var(--v-primary-base) !important;
    }
  }

  .v-icon {
    color: #fff !important;
  }

  .v-list-item__title {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .v-list-group__items .v-list-item:first-child {
    position: relative;
  }

  .v-list-group__items .v-list-item:first-child .v-list-item__title::before {
    content: "";
    width: 2px;
    height: 1.2rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    left: 3.8rem;
  }

  &__copy {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    font-size: 0.75rem;
  }
}

.user__profile {
  top: 0;
  position: absolute;
  z-index: 999;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cdcdcd;
}
</style>


